version: "3.8"

services:
  mongodb:
    image: mongo:7
    container_name: drone-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:8
    container_name: drone-redis
    ports:
      - "6379:6379"

  backend:
    build: .
    container_name: drone-backend
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
      - redis
    environment:
      - MONGO_URI=mongodb://mongodb:27017/drone_sim
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PORT=3000
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev

volumes:
  mongo_data:
